.base {
    padding-bottom: 290px;
}

.cop{
	padding-top: 14px;
}

.fix {
	padding-top: 20px;
	padding-bottom: 15px;
}

.fixed-bottom {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.foot-msg {
    color: #fff;
}

.grey {
    background-color: rgb(223, 217, 217);
}

.hex {
    font-size: 25px;
	font-weight: 500;
}

.her {
	background-color: #00816A;
}

.lax {
    color: white;
}

.bar {
    padding-top: 45px;
}

p {
	font-size: 18px;
}

.plax-text {
    color: white;
    padding-top: 90px
}

.top {
	background-color: black;
}

.top-i {
	padding-right: 30px;
	 padding-left: 30px;
	 padding-top: 30px;
}

.t-hdr {
	padding-bottom: 50px;
	padding-right: 40px;
	padding-left: 45px;
}

.well {
	margin-top: 55px;
	background-color: rgb(33, 7, 59);
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: rgb(27, 153, 11);
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}


#clockdivf{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdivf > div{
	padding: 10px;
	border-radius: 3px;
	background: rgb(27, 153, 11);
	display: inline-block;
}

#clockdivf div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

/* snipcart */

#snipcart-header {
	background-color: rgb(0, 129, 0);
}

.snip-btn--highlight.snip-btn.snip-btn--right.js-next{
	background-color:  rgb(0, 129, 0);
	color: #fff;
}

#snipcart-next {
	background-color: rgb(0, 129, 0);
	color: #fff;
}

#snipcart-paymentmethod-pay {
	background-color: rgb(0, 129, 0);
	color: #fff;
}

.js-submit.snip-btn--highlight.snip-btn.snip-btn--right {
	background-color:  rgb(0, 129, 0);
	color: #fff;
}

#snip-company {
	display: none;
}

div[data-for="company"] {
	display: none;
}

.snip-layout {
	border-radius: 10px;
}

@media only screen and (max-width: 1026px) {
    #fadeshow1 {
        display: none;
    }
}

@media only screen and (-webkit-max-device-pixel-ratio: 1026px) {
    #fadeshow1 {
        display: none;
    }
}

.img-small {
	height: 50px;
	width: 70px;
	padding-bottom: 5px;
}
